<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EAPersonelTakipSistemi.Properties.Settings.EAPersonelTakipVeriTabaniConnectionString"
            connectionString="Data Source=DESKTOP-LDME0PG;Initial Catalog=EAPersonelTakipVeriTabani;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>